#btnExtend {
  border: 0;
  border-radius: 0;
  box-shadow: none !important;
  display: inline-block;
  line-height: 1;
  padding: 16px;
  font-family: $oswald;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn {
  @extend #btnExtend;

  @include colored-links( c_white, c_white, c_white );

  &-default,
  &-circle,
  &-primary {
    background-color: $red;

    &:hover {
      background-color: $darkred;
    }
  }

  &-secondary {
    background-color: $darkgrey;

    &:hover {
      background-color: $lightgrey;
    }
  }

  &-circle {
    border-radius: 100%;
  }
}

.wp-block {
  &-button__link {
    @extend #btnExtend;
    @extend .btn-primary;
  }
}

.wp-block-file {
  .wp-block {
    &-file__button {
      @extend #btnExtend;
      @extend .btn-primary;
    }
  }
}

div.addeventatc {
  box-shadow: none !important;
  line-height: 1;
  z-index: 1;

  .btn-name {
    margin-top: 3px;
  }

  .addeventatc_icon {
    top: 14px;
  }
}

.search {
  &-submit,
  &-close {
    @include colored-links( c_darkgrey, c_darkgrey, c_darkgrey );
  }

  &-close {
    cursor: pointer;
  }
}

.copy-btn {
  @extend .btn;
  @extend .btn-secondary;

  // color: white;
  // background-color: $red;
  // text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  padding: 12px;
}
