/** Search form */
// TODO: .search-form {}
// TODO: .search-form label {}
// TODO: .search-form .search-field {}
// TODO: .search-form .search-submit {}

#fieldsExtend {
  border-radius: 0;
  padding: 13.5px;
  line-height: 1;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
input[type="file"],
textarea {
  @extend #fieldsExtend;

  .acf-form .acf-field & {
    @extend #fieldsExtend;
  }

  .caldera-grid form .form-group &.form-control {
    @extend #fieldsExtend;
  }
}

input[type="radio"],
input[type="checkbox"] {
  &:checked {
    background-color: red;
  }
}

input[type="submit"] {
  cursor: pointer;

  @extend .btn;
  @extend .btn-primary;
}

.caldera-grid {
  @include sitewidth(800);

  .col-sm-12 {
    div {
      float: left;
      width: 100%;
    }
  }

  .form {
    &-group {
      margin-bottom: 20px;
      float: left;
      width: 100%;

      @include bp( 600 ) {
        &.one_half {
          width: 48%;

          &.first {
            float: left;
          }

          &.last {
            float: right;
          }
        }
      }
    }
  }

  .text-align-right {
    text-align: right;
  }

  .help-block {
    display: block;
    margin-top: 10px;
  }

  label {
    font-family: $oswald;
    font-size: 16px;
    letter-spacing: 1.2px;
  }

  .radio,
  .checkbox {
    &-inline {
      margin-right: 10px;
    }

    label {
      cursor: pointer;
    }
  }

  hr {
    margin: 30px 0;
    clear: both;
    float: left;
    width: 100%;
  }

  .parsley-required {
    color: $red;
  }
}

.sidebar {
  .search-form {
    .search {
      &-submit {
        display: none;
      }
    }
  }
}
