.posts-pagination {
  text-align: center;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  .page-numbers {
    line-height: 1;
    padding: 14.5px 20px;
  }

  a {
    @include colored-links( c_red, c_darkred, c_red );
  }
}
