.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;

  .site-logo.small {
    @include absmid("b");

    display: block;
    width: auto;
    transform: translate(-50%, -120px);
  }

  .box {
    @include absmid("b");
  }

  .spinner {
    margin: auto;
    margin-top: -100px;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;

    & > div {
      background-color: #333;
      height: 100%;
      width: 6px;
      display: inline-block;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .rect {
      background-color: $red;
    }

    .rect1 {
      animation-delay: -1.1s;
    }

    .rect2 {
      animation-delay: -1.1s;
    }

    .rect3 {
      animation-delay: -1s;
    }

    .rect4 {
      animation-delay: -0.9s;
    }

    .rect5 {
      animation-delay: -0.8s;
    }
  }

  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
    }

    20% {
      transform: scaleY(1);
    }
  }

  .sk-circle {
    margin: 100px auto;
    width: 10px;
    height: 10px;
    position: relative;
    background: white;
    border-radius: 100%;
    left: -18px;
    animation: sk 1.2s infinite ease-in-out;
  }

  @keyframes sk {
    1% {
      top: -15px;
    }

    2% {
      top: 10px;
    }

    5% {
      top: -20px;
    }

    10% {
      left: -10px;
    }

    20% {
      top: -25px;
    }

    30% {
      left: 15px;
      background: $red;
    }

    35% {
      top: 5px;
    }

    45% {
      top: -5px;
    }

    50% {
      top: -5px;
    }

    60% {
      top: -6px;
    }

    70% {
      top: 6px;
    }

    80% {
      top: 6px;
    }

    60% {
      top: -6px;
    }
  }
}
