.nav-primary {
  @include bp( 1, 1023 ) {
    position: fixed;
    top: 0;
    width: 80%;
    height: 100vh;
    max-width: 300px;
    z-index: 9;
    background-color: white;
    padding: 70px 20px 0;
    transition: transit(left);
  }

  @include bp( 1024 ) {
    grid-area: menu;
    justify-self: center;
  }

  &.show {
    left: 0;
  }

  &.hide {
    @include bp( 1, 1023 ) {
      left: -100%;
    }
  }

  .main-menu {
    @include bp( 1, 1023 ) {
      max-height: 400px;
      overflow-y: scroll;

      @include scrollbars(3px, $red, $grey);
    }
  }

  ul {
    list-style-type: none;

    @include bp( 1, 1023 ) {
      padding-left: 15px;
    }

    @include bp( 1024 ) {
      padding: 0;
    }

    .sub-menu {
      display: none;

      @include bp( 1024 ) {
        background-color: white;
        box-shadow: 0 2px 5px rgba(black, 0.2);
      }

      li {
        @include bp( 1024 ) {
          display: block;

          .drop-dropdown {
            right: 0;
            transform: rotate(-90deg);
          }

          ul {
            top: 0;
            left: 100%;
          }
        }
      }
    }
  }

  ul:not(.sub-menu) {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;

    @include bp( 1024 ) {
      display: inline-block;

      &:hover {
        background-color: $grey;
      }
    }

    &:hover > ul {
      @include bp( 1024 ) {
        display: block;
        position: absolute;
        top: 100%;
        width: 200px;
        z-index: 9;
      }
    }
  }

  .drop-dropdown {
    position: absolute;
    top: 0;
    line-height: 1;
    display: block;
    padding: 16px 19px;
    cursor: pointer;

    @include bp( 1 ) {
      right: 0;
    }

    @include bp( 1024 ) {
      right: -24px;
    }

    &:hover {
      @include bp( 1, 1023 ) {
        background-color: $grey;
      }
    }
  }

  a {
    line-height: 1;
    font-family: $oswald;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    text-decoration: none;

    @include colored-links( c_red, c_darkgrey, c_red );

    @include bp( 1 ) {
      padding: 16px 12px;
    }

    @include bp( 1024 ) {
      padding: 16px;
    }
  }
}
