.social-icons-menu.social-header {
  @include bp( 1, 1023 ) {
    position: fixed;
    left: 20px;
    bottom: 0;
    z-index: 10;
    transition: transit(left);
  }

  @include bp( 1024 ) {
    justify-self: end;
    grid-area: social;
  }

  &.show {
    @include bp( 1, 1023 ) {
      left: 20px;
    }
  }

  &.hide {
    @include bp( 1, 1023 ) {
      left: -100%;
    }
  }
}

.social-icons-menu {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    line-height: 1;
    padding: 17px;

    @include colored-links( c_red, c_darkgrey, c_red );
  }
}
