.bank-details-block {
  .bank-detail-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 1fr auto;
    grid-template-rows: auto 21px;
    grid-template-areas:
      "title detail copy"
      ". copied copied";
    margin-bottom: 20px;
    align-items: center;

    &:hover .bank-detail-name,
    &:hover .copy-element {
      background-color: $pink;
    }
  }

  .bank-detail-name {
    grid-area: title;
  }

  .copy-element {
    font-weight: 700;
    grid-area: detail;
  }

  .hide-element {
    position: absolute;
    left: -99999em;
  }

  .copy-btn {
    grid-area: copy;
  }

  .tooltip-text {
    display: none;
    grid-area: copied;
    color: $red;
    font-family: $oswald;
  }
}
