/*
.display-members-block {
  .committee {
    &-member {
      position: relative;
      display: grid;
      gap: 30px;

      & ~ div {
        //margin-top: clamp(70px, 3vh, 30px);
      }

      h4,
      span {
        display: inline-block;
      }

      h4 {
        color: $red;
        margin: 0 0 10px 0;
        font-size: clamp(48px, 5vw, 24px);
      }

      &.even {
        grid-template-columns: 1fr 150px;
        grid-template-areas:
          "title image"
          "bio image";

        .member-title {
          justify-self: end;
        }
      }

      &.odd {
        grid-template-columns: 150px 1fr;
        grid-template-areas:
          "image title"
          "image bio";
      }
    }
  }

  .member {
    &-title {
      grid-area: title;
    }

    &-image {
      grid-area: image;
      background-color: $grey;
      min-height: 150px;
    }

    &-bio {
      grid-area: bio;
      align-self: end;
    }

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
*/
