.image-slider-block {
  .image {
    &-slider {
      max-height: 100vh;
      overflow: hidden;
    }

    &-slide {
      position: relative;

      .slide-content {
        &-wrapper {
          @include absmid("b");
        }

        @include sitewidth;

        padding: 30px;
        backdrop-filter: blur(30px);
        color: white;
      }
    }
  }

  h2 {
    font-size: clamp(2em, 5em, 4em);
  }
}
