.motto-block {
  @include bp( 768 ) {
    width: 100%;

    // This pushes anything that comes after the .motto-block down
    // by one viewport height

    /* & + * {
      margin-top: 100vh;
    } */

    &-wrapper {
      display: grid;
      height: 100%;
      align-items: center;
    }
  }

  .admin-bar & {
    @include bp( 768 ) {
      height: calc(100vh - 32px);
      overflow: hidden;
    }
  }

  .text-wrapper {
    @include sitewidth;

    letter-spacing: 0.1em;
  }

  .motto-text {
    @include fluid-type(1px, 1200px, 24px, 38px);
  }

  .small-text {
    @include fluid-type(1px, 1200px, 16px, 24px);
  }

  .scroll-next-screen {
    @include bp( 1 ) {
      font-size: 48px;
      animation: animateScrollBtn 2s infinite;
    }

    @include bp( 1, 767 ) {
      @include center-block;

      text-align: center;
    }

    @include bp( 768 ) {
      position: absolute;
      left: 50%;
      margin-left: -24px;
      bottom: 1em;
    }

    &:hover {
      animation: none;
    }
  }
}

@keyframes animateScrollBtn {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, 10px);
  }

  40% {
    transform: translate(0, 0);
  }
}
