.statute-block {
  .article {
    &-statute {
      display: grid;
      gap: 10px 20px;

      @include bp( 1 ) {
        grid-template-columns: 1fr;
      }

      @include bp( 768 ) {
        grid-template-columns: 1fr 3fr;
      }
    }

    &-name {
      color: $red;
      font-style: italic;

      @include bp( 768 ) {
        grid-column: 1 / 2;
      }
    }

    &-headings {
      @include bp( 768 ) {
        grid-column: 2 / 3;
      }
    }
  }

  h4 {
    color: $red;
  }

  h4,
  .heading-continued,
  ol {
    @include bp( 768 ) {
      grid-column: 2 / 3;
    }
  }

  ol {
    @include bp( 1, 767 ) {
      padding-left: 1em;
    }

    li {
      padding-left: 1em;

      &.article-headings {
        margin-left: 1em;
      }
    }
  }
}
