.file-download {
  position: relative;

  .view-file,
  .btn-wrap {
    display: inline-block;
    margin-right: 20px;
  }

  .btn-wrap {
    &:last-of-type {
      margin-right: 0;
    }
  }

  .view-file {
    vertical-align: bottom;
    text-align: center;
    text-transform: uppercase;
    position: relative;

    .view {
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      font-family: $oswald;
    }
  }

  img {
    display: block;
  }
}

.post-type-archive-pressrelease_cpt {
  .hentry {
    display: grid;
    gap: 30px;
    margin-bottom: 50px;
    background-color: $pink;

    @include bp( 1, 599 ) {
      padding: 20px 20px 40px;
      grid-template-columns: 1fr;
      grid-template-rows: 300px repeat(3, auto);
      grid-template-areas:
        "thumb"
        "header"
        "content"
        "footer";
    }

    @include bp( 768 ) {
      grid-template-columns: 300px 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "thumb title"
        "thumb content"
        "thumb footer";
      padding: 20px;
    }

    &:nth-child(even) {
      background-color: $grey;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    img {
      @include center-block;
    }

    header {
      h2 {
        margin-top: 0;
      }

      @include bp( 1 ) {
        grid-area: header;
      }

      @include bp( 768 ) {
        grid-area: title;
      }
    }

    .post-thumbnail {
      grid-area: thumb;

      .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: 100%;
      }
    }

    .entry-content {
      grid-area: content;
    }

    footer {
      grid-area: footer;
      grid-template-columns: 1fr;

      .file-download {
        display: grid;
        align-items: end;

        @include bp( 1, 767 ) {
          gap: 30px 0;
          justify-items: left;
          grid-template-areas:
            "view download"
            "read read";
        }

        @include bp( 768 ) {
          margin-bottom: 17px;
          gap: 0 20px;
          justify-items: start;
          grid-template-columns: 48px auto auto;
          grid-template-rows: 64px;
          grid-template-areas: "view download read";
        }

        .view-file {
          grid-area: view;
          margin-right: 0;
        }

        .wrap-primary {
          grid-area: download;

          @include bp( 768 ) {
            justify-self: start;
          }
        }

        .wrap-secondary {
          grid-area: read;
        }

        &.no-download {
          margin-bottom: 0;
        }
      }

      @include bp( 768 ) {
        align-self: end;
      }
    }
  }
}

.blog,
.archive {
  .entry-meta {
    .updated-text,
    .modified {
      font-style: italic;
      font-size: 12px;
    }
  }
}
