.archive {
  .audio_cpt {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "audio-title"
      "audio";

    header {
      grid-area: audio-title;
    }

    .entry-content {
      grid-area: audio;
    }
  }
}
