.committee-members-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;

  .committee {
    &-member {
      max-width: 280px;
      padding: 10px;
      border: 1px solid black;
      text-align: center;
      display: grid;
      align-items: center;
    }

    &-name {
      font-size: 1.5em;
      margin: 20px 0;
      color: $red;
    }

    &-designation {
      font-size: 1.2em;
      font-family: $oswald;
    }
  }
}

.single-committee-member {
  display: grid;
  float: left;
  width: 100%;

  @include bp(1, 599) {
    gap: 24px 0;
    grid-template-areas:
      "name"
      "image"
      "bio"
      "socials";
  }

  @include bp(600) {
    gap: 0 24px;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "name image"
      "bio image"
      "socials image";
  }

  .name-designation {
    line-height: 1;
    display: block;
    grid-area: name;

    // min, max, width|height, landscape|portrait
    @include bp(600) {
      margin-bottom: 30px;
    }
  }

  .name {
    color: $red;
    margin: 0 15px 20px 0;
    font-size: clamp(20px, 3vw, 30px);
  }

  .designation {
    margin: 0;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $lightgrey;
  }

  .biography {
    grid-area: bio;
  }

  .social-committee {
    grid-area: socials;
  }

  .image {
    grid-area: image;

    img {
      @include center-block;
    }
  }
}
