.post-type-archive-event_cpt .event_cpt {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "map";
  margin-bottom: 100px;

  &:last-of-type {
    margin-bottom: 0;
  }

  header {
    grid-area: header;
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .btn-wrap {
    grid-area: link-btn;
    justify-self: end;
  }

  .addeventatc {
    grid-area: calendar-btn;
  }

  .entry-content {
    grid-area: content;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "event-content venue-content"
      "event-links venue-links"
      "link-btn calendar-btn";
  }

  .event-meta {
    grid-area: event-content;
    text-align: right;
  }

  .venue-meta {
    grid-area: venue-content;

    h3 {
      margin: 0 0 20px 0;
    }
  }

  .event-links,
  .venue-links {
    h4 {
      margin-top: 0;
    }
  }

  .event-links {
    grid-area: event-links;
    text-align: right;
  }

  .venue-links {
    grid-area: venue-links;
  }
}

.single-event_cpt {
  .main {
    .event_cpt .entry-content {
      @include bp( 1 ) {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
          "event-meta venue-meta"
          "event-links venue-links"
          "bio bio"
          "speaker speaker"
          ". addtocalendar"
          "live-msg live-msg";
      }

      .live-event-msg {
        grid-area: live-msg;
      }

      .event {
        @include bp( 600 ) {
          &-meta,
          &-links {
            text-align: right;
          }
        }

        &-meta {
          grid-area: event-meta;
        }

        &-links {
          grid-area: event-links;
        }
      }

      .end-date-time {
        margin-bottom: 20px;
      }

      .venue {
        &-meta {
          grid-area: venue-meta;

          h3 {
            margin-top: 0;
          }
        }

        &-links {
          grid-area: venue-links;
        }
      }

      .biography {
        grid-area: bio;
      }

      #speakers {
        grid-area: speaker;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }

      .speaker {
        &-meta {
          display: grid;
          gap: 20px;
          grid-template-columns: 150px 1fr;
          grid-template-rows: repeat(2, auto);
          grid-template-areas:
            "name name"
            "image meta"
            "bio bio";

          h4 {
            margin-top: 0;
            grid-area: name;
          }

          .image {
            grid-area: image;

            img {
              display: block;
            }
          }

          .bio {
            grid-area: bio;
          }
        }

        &-details {
          grid-area: meta;
        }

        &-detail {
          margin-bottom: 20px;

          .detail-title {
            font-style: italic;
          }
        }
      }

      .addeventatc {
        grid-area: addtocalendar;
      }
    }
  }

  #mapid {
    max-width: 900px;
    margin-top: 50px;
    grid-area: map;
  }
}
