footer.content-info {
  display: block;

  &.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .copyright-design {
    @include bp( 1 ) {
      text-align: center;
      padding: 20px 0;
      border-top: 1px solid $grey;
    }

    @include bp( 768 ) {
      display: flex;
      justify-content: center;
    }
  }

  .sep {
    @include bp( 1 ) {
      display: none;
    }

    @include bp( 768 ) {
      display: block;
      margin: 0 1ch;
    }
  }
}

#back-to-top {
  position: fixed;
  right: 48px;
  bottom: 48px;
  padding: 15.5px 19px;
  opacity: 0;
  transition: transit(opacity);
  visibility: hidden;

  &.scrolled {
    visibility: visible;
    opacity: 1;
  }
}
