// TODO: .banner .nav li {}
// TODO: .banner .nav a {}

/**
 * Header
 */

.brand {
  font-weight: bold;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.banner {
  /**
  fix sticky position when adminbar
  */
  position: sticky;
  z-index: 19;
  top: 0;
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 0 2px 5px rgba(black, 0.2);

  @include bp( 1 ) {
    padding: 10px 0;
    transition: transit(padding);
  }

  .admin-bar & {
    @include bp( 1 ) {
      top: 0;
    }

    @include bp( 601 ) {
      top: 46px;
    }

    @include bp( 783 ) {
      top: 32px;
    }
  }

  &.scrolled {
    padding: 10px;

    .site-logo {
      width: 180px;
    }
  }

  .container {
    @include bp( 1, 1299 ) {
      @include sitewidth(1250);
    }

    @include bp( 1300 ) {
      margin-left: 20px;
      margin-right: 20px;
    }

    position: relative;
  }
}

.header-grid {
  display: grid;

  @include bp( 1 ) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo burger search";
  }

  @include bp( 1024 ) {
    grid-template-columns: 260px 1fr auto 48px;
    grid-template-areas: "logo menu social search";
    align-items: center;
    gap: 0 30px;
  }
}

.site-logo {
  width: 100%;
  transition: transit(width);

  &.small {
    @include bp( 1, 1023 ) {
      max-width: 48px;

      img {
        display: block;
      }
    }

    @include bp( 1024 ) {
      display: none;
    }
  }

  &.large {
    @include bp( 1, 1023 ) {
      display: none;
    }

    @include bp( 1024 ) {
      grid-area: logo;
    }
  }
}

.hamburger {
  @include bp( 1, 1023 ) {
    justify-self: end;
    padding: 15px 16px;
    cursor: pointer;
    line-height: 1;
  }

  @include bp( 1024 ) {
    display: none;
  }
}

.search-menu-btn {
  line-height: 1;
  padding: 16px;
  cursor: pointer;
  grid-area: search;

  @include colored-links( c_red, c_darkgrey, c_red );
}

.menu-underlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($grey50, 0.7);
  backdrop-filter: blur(3px);

  &.show {
    left: 0;
  }

  &.hide {
    left: -100%;
  }

  @include bp( 1024 ) {
    display: none;
  }
}

.page-header {
  margin-bottom: 50px;

  h1 {
    margin: 0;
    text-align: center;

    @include fluid-type(1px, 1250px, 32px, 60px);
  }
}

.custom-category {
  margin-bottom: 50px;
}

#announcements {
  position: absolute;
  top: 100%;
  padding-top: 10px;
  z-index: 1;

  .announcement {
    max-height: 350px;
    overflow-y: scroll;
    position: relative;
    padding: 16px 20px;

    @include scrollbars(3px, $red, white);

    &-title {
      margin-top: 0;
    }
  }

  .announcements {
    &-toggle {
      display: inline-block;
      line-height: 1;
      padding: 17px;
      background-color: $red;
      color: white;
      font-family: $oswald;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      box-shadow: 0 2px 5px rgba(black, 0.2);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      cursor: pointer;
    }

    &-wrapper {
      position: fixed;
      left: 0;
      background-color: white;
      box-shadow: 0 0 10px 5px rgba($red, 0.4);
      width: 100%;
      padding: 17px;
      padding-bottom: 20px;
      // Element, time, easing, delay
      transition: transit(bottom, 500);

      &.hide {
        bottom: -100%;
      }

      &.show {
        bottom: 0;
      }
    }

    &-slider {
      @include sitewidth(1250);
    }
  }
}

.header-menu-search {
  position: absolute;
  width: 100%;
  background-color: white;
  height: 100%;
  opacity: 0;
  transition: transit(opacity);

  &.hide {
    opacity: 0;
    z-index: -1;
  }

  &.show {
    opacity: 1;
  }

  .search {
    &-form {
      display: grid;
      gap: 0 20px;
      grid-template-columns: 3fr 1fr 48px;
      grid-template-areas: "input button close";
      align-items: center;

      &-wrapper {
        height: 100%;
      }

      &-width {
        display: grid;
        height: 100%;
        align-items: center;
      }

      label {
        grid-area: input;
      }
    }

    &-submit {
      grid-area: button;
    }

    &-close {
      grid-area: close;
    }
  }
}

.header-spacer {
  display: block;
  height: 50px;
}
