@import "committee-members-page";

.wrap {
  &.container {
    @include sitewidth(1250);

    aside.sidebar {
      @include sitewidth(1250);
    }
  }
}

.sidebar-primary {
  .wrap.container > .content {
    display: grid;
    gap: 50px;

    @include bp( 1 ) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
    }

    @include bp( 1024 ) {
      grid-template-columns: auto 300px;
    }
  }
}
