.archive,
.blog {
  .hentry {
    display: grid;
    gap: 15px 30px;

    @include bp(1) {
      margin-bottom: 40px;
    }

    @include bp(600) {
      margin-bottom: 80px;
    }

    @include bp(1, 599) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
        "thumb"
        "header"
        "summary"
        "button";
    }

    @include bp(600) {
      grid-template-columns: 300px 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "thumb header"
        "thumb summary"
        "thumb button";
    }

    .post-thumbnail {
      grid-area: thumb;

      &.no-image {
        display: block;
        height: 300px;
        border: 1px solid $lightgrey;
        width: 300px;
        background-repeat: no-repeat;
      }
    }

    .post-thumbnail,
    header,
    .entry-summary,
    footer {
      @include bp(1, 599) {
        width: 100%;

        @include center-block;
      }
    }

    header {
      grid-area: header;
    }

    .entry {
      &-title {
        svg {
          margin-left: 0.5em;
          font-size: 14px;
        }
      }

      &-summary {
        grid-area: summary;
      }
    }

    footer {
      grid-area: button;
      display: grid;

      @include bp(1) {
        align-items: start;
        gap: 20px;
      }

      @include bp(768) {
        align-items: end;
        gap: 0 20px;
        grid-template-columns: repeat(2, 1fr);
      }

      .post {
        &-categories,
        &-tags {
          display: grid;
          align-items: center;
          grid-template-columns: 20px 1fr;
        }
      }

      .btn-wrap {
        @include bp(768) {
          justify-self: end;
        }
      }
    }

    img,
    h2 {
      display: block;
      margin: 0;
    }
  }
}

.page,
.single {
  .banner {
    margin-bottom: 0;
  }

  .page-header {
    position: relative;
    min-height: 400px;
    overflow: hidden;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: grid;
    align-items: center;

    &.no-image {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAVSjEh8KQYGhmcwATAHJAkSgHNAAgBJbgMfurLMvgAAAABJRU5ErkJggg==");
      background-size: 4px;
      background-repeat: repeat;
    }

    @include bp(1, 599) {
      @include fullWidth;
    }

    &:hover > .prev-next-post {
      @include absmid("v");

      opacity: 1;
    }

    &:hover > .has-prev-next {
      top: -100%;
    }

    h1 {
      position: relative;
      margin: 20px 10%;
      padding: 20px;
      line-height: 1.1;
      color: $darkred;
      background-color: rgba($white, 0.6);
      backdrop-filter: blur(3px);
      top: 0;
      transition: transit(top, 500, $delay: 500);
      word-wrap: break-word;
      max-width: 100%;
    }

    .prev-next-post {
      position: absolute;
      top: -100%;
      opacity: 0;
      z-index: 2;
      padding: 10px;
      line-height: 1.15;
      background-color: rgba($white, 0.75);
      backdrop-filter: blur(3px);
      transition: transit(all, 500, $delay: 500);
      max-width: 48%;

      h2 {
        margin: 0;
        font-size: clamp(14px, 3vw, 22px);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      a {
        display: grid;
        gap: 0 20px;
        align-items: center;
      }
    }

    .post {
      &-prev {
        left: 0;

        a {
          grid-template-columns: 50px 1fr;
          grid-template-areas: "thumb title";
        }
      }

      &-next {
        right: 0;

        a {
          grid-template-columns: 1fr 50px;
          grid-template-areas: "title thumb";
        }
      }
    }
  }

  .hentry {
    position: relative;

    @include bp(1024) {
      max-width: clamp(80%, 5vw, 100%);
      transform: translateX(170px);
      transition: transit(all);
    }

    @include bp(1600) {
      max-width: 100%;
      transform: translateX(0);
    }
  }

  .updated-text,
  .modified {
    font-style: italic;
    font-size: 12px;
  }

  .entry-meta:not(.widget-entry-meta) {
    @include bp(1, 1023) {
      margin-bottom: 20px;
    }

    @include bp(1024) {
      max-width: 150px;
      text-align: center;
      background-color: $grey;
      font-weight: bold;
      padding: 8px;
      position: absolute;
      top: 0;
      transform: translateX(calc(-100% - 20px));
    }

    .byline {
      margin: 20px 0 0;
      font-size: 12px;
    }

    .updated {
      @include bp(1024) {
        font-family: $oswald;

        &-text {
          display: block;
        }

        .of {
          display: none;
        }

        .day,
        .month,
        .year {
          display: block;
          line-height: 1;
          margin-bottom: 10px;
        }

        .day {
          font-size: 24px;
        }
      }
    }
  }

  .entry-content {
    &::after {
      @include clearfix;
      @include clearfix-after;
    }
  }
}

.post-categories-tags {
  clear: both;
  margin: 30px 0;
  background-color: $grey;
  padding: 20px;

  .svg-inline--fa {
    margin-right: 16px;

    @include bp(768) {
      display: none;
    }
  }

  .taxonomy {
    &-title {
      font-weight: bold;
      font-family: $oswald;
      letter-spacing: 1px;

      @include bp(1, 767) {
        display: none;
      }
    }

    &-links {
      font-style: italic;
    }
  }

  .post {
    &-categories,
    &-tags {
      display: grid;
      align-items: center;

      @include bp(1) {
        grid-template-columns: 24px 1fr;
      }

      @include bp(768) {
        grid-template-columns: 100px 1fr;
      }
    }

    &-categories {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}

#related-posts {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-bottom: 40px;

  .related-post {
    max-width: 280px;
    text-align: center;

    time {
      display: block;
    }
  }
}

figure {
  img {
    display: inline-block;
  }

  a {
    display: inline-block;
  }
}

.wp-block-image {
  figcaption {
    margin: 0;
    background-color: $grey;
    padding: 8px;
  }
}

.no-translation {
  text-align: center;
  padding: 50px;
  margin-bottom: 50px;

  &-languages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  a {
    padding: 20px;
  }
}

.pr-number {
  &-container {
    .single & {
      position: absolute;
      left: 1px;
      bottom: 1px;
      background-color: white;
      float: left;
    }
  }

  background-color: white;
  display: inline-block;
  padding: 5px 10px;
  line-height: 1;
  font-weight: 700;
  color: $red;

  .archive & {
    margin: 10px 0;
  }
}
