.ava_recent_press_releases {
  .widget-press-release {
    margin-bottom: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "thumb title"
      "thumb excerpt"
      "thumb buttons";
    background-color: $pink;
    padding: 20px;

    // min, max, width|height, landscape|portrait
    @include bp(1024, 1300) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
        "thumb"
        "title"
        "excerpt"
        "buttons";
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      background-color: $grey;
    }

    .pr {
      &-title {
        grid-area: title;

        h3 {
          margin: 0;
        }
      }

      &-image {
        grid-area: thumb;

        img {
          display: block;
        }
      }
    }

    .entry-content {
      grid-area: excerpt;
    }

    .btn-wrap {
      grid-area: buttons;
    }
  }
}
