.single-publication_cpt {
  &.single .hentry {
    @include bp( 1024 ) {
      max-width: unset;
      transform: none;
    }
  }

  .content {
    .main {
      display: grid;
      gap: 50px;

      @include bp(1) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
      }

      @include bp(1024) {
        grid-template-columns: auto 300px;
      }
    }
  }

  .footnotes {
    position: relative;
    font-size: 85%;

    sup {
      top: 0;
      line-height: 1;
    }

    .footnote {
      display: grid;
      grid-template-columns: 20px minmax(0, 1fr);
      gap: 20px;
      position: relative;
      padding-top: 16px;
      margin-top: 16px;

      &::before {
        content: "";
        position: absolute;
        border-top: 1px solid $lightgrey;
        width: 100%;
        max-width: 200px;
        top: 0;
      }

      & ~ div {
        &::before {
          width: 20px;
        }
      }
    }

    .fn {
      &-number {
        font-size: 85%;
      }
    }
  }

  .publications-navigation {
    display: grid;

    @include bp( 1 ) {
      gap: 20px;
    }

    @include bp( 1024 ) {
      gap: 0 50px;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      grid-template-areas: "prev next";
    }
  }

  .publication {
    @include bp( 1024 ) {
      &-prev {
        grid-area: prev;
      }

      &-next {
        text-align: right;
        grid-area: next;
      }
    }
  }

  .publication-pages {
    ul {
      padding: 0 0 0 15px;
      margin: 20px 0;

      @include bp( 1024 ) {
        padding: 0;
        margin: 0;
      }
    }
  }
}
