.single:not(.single-video_cpt),
.archive {
  .video_cpt.hentry {
    display: grid;
    gap: 30px;
    clear: both;
    padding: 20px;
    background-color: $pink;
    margin-top: 30px;

    &:first-of-type {
      margin-top: 0;
    }

    &:nth-child(even) {
      background-color: $grey;
    }

    @include bp( 1 ) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "video video"
        "title button";
    }

    @include bp( 1024 ) {
      grid-template-columns: 3fr 1fr;
      grid-template-areas:
        "video title"
        "video button";
    }

    header {
      grid-area: title;
    }

    .entry-content {
      grid-area: video;
    }

    .btn-wrap {
      grid-area: button;
      // align-self: end;
    }

    .entry-title {
      margin: 0;
    }
  }
}

.video_cpt {
  .post-terms {
    margin-bottom: 50px;
  }

  .post-term {
    display: inline-block;
  }

  .terms-icon {
    display: inline-block;
    margin-right: 1ch;
    color: $red;
  }
}
