* {
  box-sizing: border-box;
}

html {
  font-size: 87.5%;

  @include scrollbars(17px, $darkgrey, $grey);
}

body {
  font-family: $oswald;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;

  @include selection(white, $red);

  @include bp( 1024 ) {
    position: relative !important;
    top: unset !important;
  }
}

#asLink {
  @include colored-links( c_red, c_darkgrey, c_darkred );
}

a {
  @extend #asLink;

  text-decoration: none;
}
