/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$spacer:                2rem;

/* sage/assets/styles/common/_variables.scss */
// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

$sans: "Allerta Stencil", sans-serif;
$serif: "PT Serif", serif;
$oswald: "Oswald", sans-serif;

$white: white;
$red: #d80b08;
$grey: #f8f9fa;
$lightred: lighten($red, 40);
$pink: lighten($red, 55);
$darkred: darken($red, 10);
$gradgrey: darken($grey, 10);
$lightgrey: #888;
$darkgrey: #444;

$grey50: lighten(#000, 50);

$colors: (
  "c_white": $white,
  "c_red": $red,
  "c_grey": $grey,
  "c_lightred": $lightred,
  "c_darkred": $darkred,
  "c_gradgrey": $gradgrey,
  "c_darkgrey": $darkgrey
);

:root {
  --c_white: #{map-get($colors, c_white)};
  --c_red: #{map-get($colors, c_red)};
  --c_grey: #{map-get($colors, c_grey)};
  --c_lightred: #{map-get($colors, c_lightred)};
  --c_darkred: #{map-get($colors, c_darkred)};
  --c_gradgrey: #{map-get($colors, c_gradgrey)};
  --c_darkgrey: #{map-get($colors, c_darkgrey)};
}
